* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/cLk4w7d/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header a{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 22px;
    font-family: Arial, sans-serif !important;
}
header h1 {
    color: rgb(0, 0, 0);
    margin: 0;
}
.logo {
    height: 90px;
    width: 90px;
    margin-left: 20px;
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; /* Они занимают меньшую часть пространства */
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    flex: 1.5; /* Центральный блок будет в два раза шире */
}

.car-item {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    width: 100%;
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #000000;
}

.car-item.large img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
